
img{
	width: 600px;
	height:600px;
	display: block;
	position: absolute;
	left:30%;
	font-size: 50px;
	display: block;
}
#felsa{
	border-radius: 40%;
	box-shadow: 5px 5px 5px;
	display: block;
	position: absolute;
	left:41%;
	top:65%;
	font-size: 50px;
}
h6{
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 20px;
}
.tun{
	position: absolute;
	bottom: 0;
	left: 95%;
}
